<footer class="footer">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col-12 col-md-4 d-flex flex-wrap ">
            <img class="logoMaestri m-auto" src="../../../../assets/logoMaestriEdu.webp" alt="logo maestri">
            <section class="social">
                <section class="contacts">
                    <h3> Redes Sociais </h3>
                    <div class="d-flex">
                        <div class="mt-3 mx-lg-1">
                            <a href="https://www.instagram.com/edu.maestri?igsh=MXcxMjE5YTBtb2c1dA==" target="_blank"
                                aria-label="perfil do maestri no instagram">
                                <i class="fab fa-instagram icon"></i>
                            </a>
                        </div>
                        <div class="mt-3 mx-lg-1">
                            <a href="https://www.linkedin.com/in/maestri-group-a2178b2b0" target="_blank"
                                aria-label="perfil do maestri no linkedin">
                                <i class="fab fa-linkedin icon"></i>
                            </a>
                        </div>
                        <div class="mt-3 mx-lg-1">
                            <a href="https://www.linkedin.com/in/maestri-group-a2178b2b0" target="_blank"
                                aria-label="perfil do maestri no linkedin">
                                <i class="fab fa-youtube icon"></i>
                            </a>
                        </div>
                        <div class="mt-3 mx-lg-1">
                            <a href="https://www.facebook.com/maestri.edu?mibextid=ZbWKwL" target="_blank"
                                aria-label="perfil do maestri no linkedin">
                                <i class="fab fa-facebook icon"></i>
                            </a>
                        </div>
                    </div>
                </section>
            </section>
        </div>
        <div class="col-12 col-md-4 pt-5">
            <section class="d-flex flex-wrap d-md-block">
                <h3> Instucional </h3>
                <a routerLink="/institutional" class="m-auto"> pagina institucional </a>
            </section>

            <section class="d-flex flex-wrap d-md-block mt-5">
                <h3> regulamentos </h3>
                <a class="m-auto" style="pointer-events:auto !important;" data-bs-toggle="modal" data-bs-target="#privacyPolicies"> Políticas de privacidade
                </a>
            </section>

            <section class="contacts" style="margin-top: 30px;">
                <h3> Contatos </h3>

                <div class="m-lg-3">
                    <a href="https://mail.google.com/mail/?view=cm&to=maestri.group.contact@gmail.com"
                        style="text-decoration: none;" target="_blank" aria-label="perfil do maestri no gmail">
                        <i class="fas fa-envelope"></i>
                        <a href="https://mail.google.com/mail/?view=cm&to=maestri.group.contact@gmail.com">
                            maestri.group.contact&#64;gmail.com </a>
                    </a>
                </div>

                <div class="w-75 mt-1 m-lg-4 d-flex d-md-block justify-content-center flex-wrap">
                    <img src="../../../../assets/qrCodeWhatsZapMaestri.webp" alt="qr code do whatZap">
                    <a target="_blank" href="https://wa.me/4198985950?text=Olá, quero me matricular"
                        class="mt-3 w-100 d-block text-center text-md-start"> 4198985950 </a>
                </div>
            </section>
        </div>
        <div class="col-12 col-md-4">
            <section class="m-4 d-flex d-md-block flex-wrap">
                <h3> Educação </h3>

                <article class="m-auto text-center text-md-start">
                    <p> Licenciatura r2 </p>
                    <p> Pós graduação </p>
                    <p> Tecnólogos </p>
                    <p> Programas sociais </p>
                </article>

            </section>

            <section class="m-4 d-flex flex-wrap d-md-block">
                <h3> nossos sites </h3>
                <a href="https://maestri-edu.vercel.app/" target="_blank" class="m-auto"> maestri </a>
            </section>
        </div>
    </div>
    <section class="Maestri">
        <div>
            <img src="../../../../assets/blob.svg" alt="blob">
            <img class="Maestri-icon" src="../../../../assets/logoMaestriEdu.webp" alt="maetsri Edu logo">
        </div>
    </section>
</footer>

<div class="modal fade" data-bs-backdrop="static" id="privacyPolicies">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h4> Termos de politicas e privacidade </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>
                    POLÍTICA DE PRIVACIDADE E USO DE COOKIES DO Maestri.edu

                    <strong> 1 – TERMOS UTILIZADOS <br>
                    </strong>

                    LEI GERAL DE PROTEÇÃO DE DADOS ( <u>LGPD</u> ): Refere-se à Lei nº 13.709, de 14 de agosto de 2018, que
                    regula o
                    tratamento de dados pessoais, seja digitalmente ou fisicamente, por indivíduos ou entidades, com
                    o
                    intuito de proteger os direitos dos titulares dos dados, enquanto permite a utilização desses
                    dados para
                    diferentes propósitos, buscando equilibrar os interesses e promover a proteção individual
                    juntamente com
                    o avanço tecnológico e econômico.

                    DADOS PESSOAIS: Qualquer informação que possa identificar uma pessoa física, como nome, CPF, RG,
                    entre
                    outros.

                    DADOS PESSOAIS SENSÍVEIS: Informações pessoais relacionadas à origem racial ou étnica, crenças
                    religiosas, opiniões políticas, associação a sindicatos ou organizações de natureza religiosa,
                    filosófica ou política, informações sobre saúde ou vida sexual, dados genéticos ou biométricos
                    ligados a
                    um indivíduo.

                    TITULAR DOS DADOS: O indivíduo a quem os dados pessoais se referem.

                    TRATAMENTO DE DADOS: Qualquer operação com dados pessoais, como coleta, produção, recepção,
                    classificação, utilização, acesso, reprodução, transmissão, distribuição, processamento,
                    armazenamento,
                    eliminação, avaliação, controle, modificação, comunicação, transferência, difusão ou extração.

                    USUÁRIO: Pessoa que acessa ou utiliza o site ou as mídias sociais do Maestri.edu.

                    COOKIES: Arquivos de texto armazenados em seu dispositivo por sites que você visita, facilitando
                    a
                    lembrança de preferências do usuário e visitas anteriores.

                    COOKIES PERSISTENTES: Permanecem no dispositivo do usuário até serem manualmente excluídos.

                    COOKIES DE SESSÃO: Excluídos automaticamente quando o navegador é fechado.

                    <br>
                    <strong> 2 – FINALIDADE
                    </strong>
                    <br>

                    Esta política visa informar os usuários sobre como seus dados pessoais são coletados, tratados e
                    protegidos ao navegar no site e mídias sociais do Maestri.edu, seguindo as diretrizes da  <u>LGPD</u>  e
                    outras
                    normas aplicáveis à proteção de dados.

                    <br>
                    <strong> 3 – ESCOPO
                    </strong>
                    <br>
                    Fornece detalhes sobre o tratamento de dados pessoais dos usuários ao interagir com os portais
                    digitais
                    do Maestri.edu.
                    <br>
                    <strong> 4 – COLETA DE DADOS
                    </strong>
                    <br>
                    A natureza dos dados coletados varia conforme o tipo de interação do usuário com o site
                    Maestri.edu,
                    abrangendo visitantes e usuários de áreas restritas.
                    <br>
                    <strong> 4.1 – Visitantes
                    </strong>

                    Dados como tipo de navegador, dispositivo utilizado, localização, faixa etária e gênero podem
                    ser
                    coletados automaticamente.
                    <br>
                    <strong> 4.2 – Interessados nos Cursos
                    </strong>

                    Ao expressar interesse em cursos oferecidos, o usuário pode fornecer informações como nome,
                    telefone,
                    e-mail, cidade e estado através de formulários no site. Esses dados são coletados
                    voluntariamente para
                    possibilitar o contato com informações relevantes.
                    <br>
                    <strong> 4.3 – Inscrição em Newsletter
                    </strong>

                    Usuários podem se inscrever para receber e-mails informativos, fornecendo seu endereço de
                    e-mail. A
                    desinscrição é possível a qualquer momento através do link fornecido nos e-mails.
                    <br>
                    <strong> 4.4 – Áreas Restritas
                    </strong>

                    Para acessar áreas restritas, dados adicionais como nome, e-mail, senha e informações de login
                    são
                    coletados. Algumas áreas podem redirecionar para plataformas externas, cujas políticas de
                    privacidade
                    são independentes.
                    <br>
                    <strong> 5 – COMPARTILHAMENTO DE DADOS
                    </strong>
                    <br>
                    Maestri.edu não comercializa dados pessoais. O acesso é restrito e pode incluir operadores
                    terceirizados
                    para fins de infraestrutura tecnológica. Dados podem ser compartilhados se exigido por lei ou
                    ordem
                    judicial.
                    <br>
                    <strong> 6 – ARMAZENAMENTO DE DADOS
                    </strong>
                    <br>
                    Os dados são armazenados em servidores seguros pelo período necessário para cumprir as
                    finalidades de
                    sua coleta, respeitando obrigações legais e regulatórias.
                    <br>
                    <strong> 7 – USO DE COOKIES
                    </strong>
                    <br>
                    Cookies são utilizados para melhorar a experiência do usuário, personalizando conteúdos e
                    coletando
                    estatísticas anônimas para otimização do site.
                    <br>
                    <strong> 8 – DIREITOS DOS USUÁRIOS
                    </strong>
                    <br>
                    Conforme a  <u>LGPD</u> , os usuários têm direito a acessar, corrigir, excluir ou limitar o uso de seus
                    dados
                    pessoais, além de solicitar a portabilidade e se opor ao seu tratamento. Solicitações devem ser
                    enviadas
                    para dpo&#64;maestri.edu.
                    <br>
                    <strong> 9 – ATUALIZAÇÕES DA POLÍTICA
                    </strong>
                    <br>
                    Esta política de privacidade pode ser atualizada periodicamente, refletindo mudanças nas
                    práticas de
                    tratamento de dados do Maestri.edu. As alterações serão comunicadas pelos canais oficiais da
                    instituição.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> OK </button>
            </div>
        </div>
    </div>
</div>