<section class="banner">
    <div class="backgroundImage backgroundImage-Top"></div>
    <img src="../../../../assets/maestriEduBackgroud.webp" alt="maestriBanner">
    <div class="student-Section" id="student">
        <img class="student-Image" src="../../../../assets/student.webp" alt="maestri marketing">
    </div>
    <div class="banner-text">
        <h1 class="banner-title"> A Hora da Virada é Agora: <br> Seu Futuro nas Suas Mãos </h1>
        <h2 class="banner-subtitle mt-md-5" > Na Maestri.edu <strong> UM SALÁRIO MÍNIMO </strong> é o seu passaporte para uma nova vida. </h2>
        <h3 class="banner-subtitle"> DESCUBRA como transformar seu destino hoje. </h3>
    </div>
    <button class="banner-btn" (click)="this.scrollToCourses()"> Quero mudar de vida agora! </button>
    <div class="backgroundImage backgroundImage-Bottom"></div>
</section>