<section class="d-flex mt-5">
    <article class="resume w-100 w-md-75 p-2" id="resume">
        <pre>
Na Maestri.edu, o convite é para ir além do comum e desvendar o potencial
extraordinário que reside em você. Aqui, não se trata apenas de cursar 
programas educacionais; é sobre encontrar a chave mestra para destravar
habilidades e possibilidades que talvez você nem soubesse que tinha. 

Ao escolher crescer conosco, você está se comprometendo com um futuro
onde cada obstáculo é, na verdade, um trampolim para novas conquistas, 
transformando seu percurso em uma jornada de sucesso contínuo.

Nossos cursos são elaborados para serem mais do que meras aulas; são
verdadeiros convites para você embarcar em uma aventura de autoconhecimento
e liderança. Aqui, você vai aprender a dominar habilidades essenciais, 
liderar com visão e alcançar metas que hoje podem parecer distantes.

"A Grande Virada com a Maestri.edu" transcende uma simples oferta de cursos;
é um chamado para aqueles que têm coragem de sonhar grande e a determinação
para tornar esses sonhos realidade. É uma oportunidade para você despertar 
seu potencial ilimitado, atingir feitos extraordinários e gravar
seu nome na história do sucesso.

Estamos aqui para facilitar sua transformação. A grande virada
aguarda. Você está pronto para deixar sua marca no mundo?
        </pre>
    </article>
    <div class="resume2 w-50 d-none d-lg-flex" id="resume2">
        <div class="marketing-Section">
            <img class="marketing-Image" src="../../../../assets/maestriMarketingStudent.webp" alt="maestri marketing">
        </div>
    </div>
</section>