<app-header></app-header>
<main class="container-fluid d-flex flex-wrap">
    <section class="towers">
        <h1 class="title"> Oque você procura ? </h1>
        <article class="tower">
            <h4> EDUCAÇÃO A DISTÂNCIA </h4>

            <button class="tower-btn" routerLink="/checkout"> INSCREVA-SE </button>

            <ul class="tower-content">
                <li> LICENCIATURA (R2) </li>
                <li> TECNÓLOGO </li>
                <li> PÓS-GRADUAÇÃO </li>
            </ul>
        </article>
        <article class="tower">
            <h4> NOSSAS AREAS DO CONHECIMENTO </h4>
            <button class="tower-btn" routerLink="/checkout"> INSCREVA-SE </button>
            <ul class="tower-content">
                <li> CIÊNCIAS JURIDICAS </li>
                <li> EDUCAÇÃO </li>
                <li> ENGENHARIA E ARQUITETURA </li>
                <li> GESTÃO E NEGÓCIOS </li>
                <li> MARKETING E COMUNICAÇÃO </li>
                <li> SAÚDE E BEM ESTAR</li>
                <li> TECNOLOGIA DA INFORMAÇÃO </li>
            </ul>
        </article>
        <article class="tower">
            <h4> MELHOR PREÇO DO MERCADO </h4>
            <button class="tower-btn" routerLink="/checkout"> INSCREVA-SE </button>
            <ul class="tower-content">  
                <li> PAGAMENTO PARCELADO </li>
                <li> FACILIDADE DE ACESSO </li>
                <li> EQUIPE DE SUPORTE </li>
                <li> SEU ESFORÇO RECOMPENSADO </li>
            </ul>
        </article>
    </section>
    <section class="qualities">
        <article class="qualities-card">
            <img src="../../../../assets/marketing/digital.png" alt="material digital">
            <p class="w-100"> material digital <strong> GRATUITO</strong> </p>
        </article>
        <article class="qualities-card">
            <img src="../../../../assets/marketing/conferencia.png" alt="conferência">
            <p class="w-100"> aulas em tempo real com  <strong> professores de alta qualidade</strong> </p>
        </article>
        <article class="qualities-card">
            <img src="../../../../assets/marketing/inovacao.png" alt="inovação">
            <p> tenha seu aprendizado impulsionado por <strong> projetos porfissionais inovadores </strong> </p>
        </article>
        <article class="qualities-card">
            <img src="../../../../assets/marketing/suporte.png" alt="suporte">
            <p> aprenda também com o nosso suporte <strong> promotores de sucesso acadêmico </strong> </p>
        </article>
        <article class="qualities-card">
            <img src="../../../../assets/marketing/skills.png" alt="habilidades e competencias">
            <p> escolha de promotores baseada em suas <strong> competencias porfissionais</strong> </p>
        </article>
        <article class="qualities-card">
            <img src="../../../../assets/marketing/cinco-estrelas.png" alt="nota maxima no MEC">
            <p> cursos com <strong>NOTA MAXIMA</strong> </p>
        </article>
    </section>
</main>