<section class="my-5 container-fluid" style="margin-bottom: 100px !important;">
    <div class="mb-5">
        <h2 class="descriptions-tilte"> Beneficíos </h2>
        <hr>
    </div>
    <div class="row" id="descriptions">
        <div class=" col-0 col-lg-3">
            <div class="marketing-Section">
                <img class="marketing-Image" src="../../../../../assets/maestriMarketing.webp" alt="maestri marketing">
            </div>
        </div>
        <div class="col-12 col-lg-9 d-flex justify-content-center flex-wrap articles">
            <article class="article">
                <h3 class="article-title">Financeiros</h3>
                <p>
                    Faça parte dos pioneiros que estão moldando seu destino! Com um investimento equivalente a um
                    salário mínimo - R$ 1.412 à vista. Esta é a sua chance exclusiva. As
                    vagas são limitadas, criando um senso urgente de oportunidade. Não perca tempo, agarre seu lugar
                    agora e inicie sua jornada para o sucesso!
                </p>
            </article>
            <article class="article to_top">
                <h3 class="article-title">Qualidade e economia</h3>
                <p>
                    Nossos cursos, em colaboração com universidades renomadas, garantem uma educação de alto padrão.
                    Seja reconhecido pelas suas conquistas.Em um período de renovação econômica, nossa proposta oferece
                    uma relação custo-benefício imbatível. Invista no seu potencial sem comprometer suas finanças.
                </p>
            </article>
            <article class="article">
                <h3 class="article-title">Detalhes</h3>
                <p>
                    Nossa estrutura de pagamento única enfatiza simplicidade e acessibilidade. Investir no seu futuro
                    nunca foi tão claro e direto. Torne-se parte de uma comunidade que valoriza sua evolução.
                </p>
            </article>
            <article class="article to_top">
                <h3 class="article-title">Flexibilidade</h3>
                <p>
                    Em um período de renovação econômica, nossa proposta oferece uma relação custo-benefício imbatível.
                    Invista no seu potencial sem comprometer suas finanças.Faça parte da mudança! Ao se juntar a nós,
                    você contribui para a construção de uma sociedade mais justa e igualitária através da educação.
                </p>
            </article>
        </div>
    </div>
</section>