


/* You can add global styles to this file, and also import other style files */

@mixin BreakPoint($point) {
    @if($point == mobile-only) {
        @media screen and (max-width:650px) {
            @content;
        }
    }

    @if($point == tablet-up) {
        @media screen and (min-width:650px) and (max-width:950px) {
            @content;
        }
    }

    @if($point == desktop-md-up){
        @media screen and (min-width:950px) and (max-width:1200px){
            @content;
        }
    }

    @if($point == desktop-up) {
        @media screen and (min-width:1200px) {
            @content;
        }
    }
}


$primaryBlue: #AFCAEB;
$darkBlue: #325A82;
$lightBlue: #D3E2F4;
$midnightBlue: #2C3E50;


$softWhite: #FAFAFA;
$lightGray: #DADFE1;
$mediumGray: #a6a6a6;
$darkGray: #717171;

$golden:#fce345;
$secondaryGold: #F5F2E8;
$accentGreen: #2ECC71;



$backGroundColor:#0c0f24;

::-webkit-scrollbar{
    width: 5px;
    background-color: #0c0f24;
}

::-webkit-scrollbar-thumb{
    background-color: $secondaryGold;
    color: red;
}

